body{

  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1{
  font-size: 90px;
  font-family: 'Comforter', cursive;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: #EC255A;
}

h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-top: 10px;
  color: #EC255A;
  font-weight: normal;
}
h3{

  color: #EC255A;
}
.top-container {
  margin-top: 0px;
background-color: #EEC373;
position: relative;


}
a{
    color: #EC255A;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 20px;
margin-left: 20px;
}
a:hover{
  color: white;
}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 10px;
  width: 5%;
  margin: 100px auto;

}
 /****************************************all pics*********************************/

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;

}

.profile-pic{
  border-radius: 50%;
  padding-top: 30px;

}
.bottom-container{
background-color: #EEC373;
margin-top: 100px;
height: 100px;
padding-top: 20px;

}
 .skillspic{
   float: left;
   width: 25%;
   height: 25%;
   margin-right: 30px;
 }

 .skillspic1{
   float: right;
   width: 25%;
   height: 25%;
   margin-left: 30px;
 }
.full-underline{
  text-decoration: underline;
}

.top-cloud
{
  position:relative;
  left:350px;
    margin-top: 50px;
}

.bottom-cloud{
  position: absolute;
  right:1000px;
  margin-top: 50px;
  
}

.font-white{
  color: white;
}

button{
  border-radius: 10px ;
  background-color: #EEC373 ;
  padding: 5PX;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
margin-top: 20px;

}
.other-para{
  width: 50%;
margin:  auto;
text-align: center;
line-height: 2;
}
